@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css');

/* Insipired by alilishan(http://bootsnipp.com/snippets/featured/form-process-steps) */
.stress-step {
	padding: 0;
	position: relative;
}

.stress-step > .stress-circle {
	position: absolute;
	display: block;
	top: 25px;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 50%;
	padding-left: 8px;
	padding-top: 5px;
	background: #E5E5E5;
}

.stress-step > .progress {
	position: relative;
	height: 8px;
	box-shadow: none;
	margin: 20px 0;
	border-radius: 0;
}

.stress-step:first-child > .progress {
	left: 50%;
	width: 50%;
}
.stress-step:last-child > .progress {
	width: 50%;
}

.stress-step > .progress > .progress-bar {
	width: 0;
	box-shadow: none;
	background: #7FFF7F;
}

.stress-step.complete > .progress > .progress-bar {
	width: 100%;
}
.stress-step.complete.not-last > .progress > .progress-bar {
	width: 50%;
}
.stress-step:first-child.complete.not-last > .progress > .progress-bar {
	width: 0%;
}
.stress-step.active > .progress > .progress-bar {
	width: 50%;
}
.stress-step.fail > .progress > .progress-bar {
	width: 50%;
}
.stress-step:first-child.active > .progress > .progress-bar {
	width: 0%;
}
.stress-step:last-child.active > .progress > .progress-bar {
	width: 100%;
}
.stress-step:first-child.fail > .progress > .progress-bar {
	width: 0%;
}
.stress-step:last-child.fail > .progress > .progress-bar {
	width: 100%;
}

.stress-step.active > .stress-circle {
	border: 2px solid #00E500;
	background: #E5E5E5;
}
.stress-step.complete > .stress-circle {
	background: #00E500;
}
.stress-step.complete > .stress-circle:before {
	content: '\f00c';
	font-family: FontAwesome;
	font-size: 14px;
	color: #FFFFFF;
	float: left;
}
.stress-step.fail > .stress-circle {
	background: #FF0000;
	padding-left: 9.7px;
	padding-top: 4.3px;
}
.stress-step.fail > .stress-circle:before {
	content: '\f00d';
	font-family: FontAwesome;
	font-size: 14px;
	color: #FFFFFF;
	float: left;
}

.five-cols .col-xs-2 {
	width: 20%;
	*width: 20%;
}
.seven-cols .col-xs-1 {
	width: 14.2857142857142857%;
	*width: 14.2857142857142857%;
}
.eight-cols .col-xs-1 {
	width: 12.5%;
	*width: 12.5%; 
}
.nine-cols .col-xs-1 {
	width: 11.1111111111111111%;
	*width: 11.1111111111111111%; 
}
.ten-cols .col-xs-1 {
	width: 10%;
	*width: 10%; 
}
.eleven-cols .col-xs-1 {
	width: 9.0909090909090909%;
	*width: 9.0909090909090909%; 
}